body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color: #FFFFFF;
}

section{
    padding: 0 !important;
}

.container_single_publication_nav{
    background-color: #DDE3DD;
}
.area_single_publication_nav>a{
    height: 100%;
    display: flex;
    gap: 1%;
    width: 100%;
<<<<<<< HEAD
    margin-left: 0rem;
=======
    margin-left: 19rem;
>>>>>>> 88be72215b5fd5c2aba20cbdf4f5afdf0ddbd00a
    box-sizing: border-box;
}
.nav_single_publication_row1{ 
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
.nav_single_publication_row1_icon{
    height: 2rem;
    background: transparent url('img/Icon awesome-arrow-circle-right.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
    margin-top: -5px;
}

.nav_single_publication_row2{
    position: relative;
    top: 4px;
    height: 100%;
    background: transparent;
     padding:  -1rem 0rem -1rem 0px;
    overflow: hidden;
}
.nav_single_publication_row2>p{
    font-family: "Acumin Pro Condensed";
    font-weight: bold;
    font-size: 2.08vw;
    line-height: 3.90vw;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #306C63;
}





/* <!-- **** Single Events  body start **** --> */



.body_container .body_area{
    margin: 3rem 4% 8rem 0%;
    display: flex;
    gap: 10%;
   

}
.body_row1{
    width: 60%;
}

.body_headingbox{
    text-align: left;
    opacity: 1;
}
.body_heading{
    color: #306C63;
    font-family: "Acumin Pro Condensed";
    font-weight: bold;
    opacity: 1;
    font-size: 2.86vw;
    line-height: 3.38vw;
    margin-bottom: 1rem;
}

.single_publication_body_para>p{
    color: #2C2C2C;
    font-family: "Acumin Pro";
    text-align:left;
    font-size: 1.25vw;
    line-height: 1.875vw;
    margin-bottom: 2rem;
}

.single_publication_body_para>p>a{
color: #f0ab00;
text-decoration: none;
}

.single_publication_body_img{
    height: 40rem;
    width: 100%;
    margin-bottom: 6rem;
    margin-top: 7rem;
}
.single_publication_body_img>img{
    height: 100%;
    width: 100%;
}






/* ****** single_publication_body_row2 ****** */



.single_publication_body_row2{
width: 30%;
}

.single_publication_body_row2_para{
font-size: 1.25vw;
line-height: 1.875vw;
font-family:"Acumin Pro";
margin-bottom: 3rem;
}
.single_publication_body_row2_para>h3{
    font-family:"Acumin Pro";
    font-size: 1.25vw;
    line-height: 1.875vw;
    font-weight: bold;
    margin-top: 0;
}

.single_publication_download_agenda{
    width: 100%;
    font-family: "Acumin Pro";
    font-weight: 600;
    background-color: #122034;
    border: 1px solid #707070;
    font-size: 1.25vw;
    line-height: 1.875vw;
}
.single_publication_download_agenda>a{
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    color:#FFFFFF;
    margin-right: 10%;
}
.single_publication_download_agenda>a:hover{
    color:#FFFFFF;
    text-decoration: none;
}
.single_publication_download_agenda>a:focus{
    color:#FFFFFF;
    text-decoration: none;
}
.single_publication_download_agenda>a>div{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}
.single_publication_download_agenda>a>div>p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.single_publication_download_agenda>a>div>img{
height: 2rem;
font-weight: 600;
}



@media screen and (min-width:1000px) {
    .container_single_publication_nav{
        padding-left: 4.8% !important;
        padding-right: 10.2% !important;
    }

    .body_container .body_area{
        margin-left: 4.8%;
    }

}
@media screen and (min-width:1100px) {
    .container_single_publication_nav{
        padding-left: 8.8% !important;
    }

    .body_container .body_area{
        margin-left: 8.8%;
    }

}
@media screen and (min-width:1200px) {
    .container_single_publication_nav{
        padding-left: 6% !important;
    }

    .body_container .body_area{
        margin: 3rem 6% 8rem 6%;
    }

}
@media screen and (min-width:1400px) {
    .container_single_publication_nav{
        padding-left: 10.2% !important;
        padding-right: 10.2% !important;
    }

    .body_container .body_area{
        margin: 3rem 10% 8rem 10.2%;
    }

}
@media screen and (min-width:1400px) {
    .container_single_publication_nav{
        padding-left: 12% !important;
        padding-right: 12% !important;
    }

    .body_container .body_area{
        margin: 3rem 12% 8rem 12%;
    }

}
@media screen and (min-width:1400px) {
    .container_single_publication_nav{
        padding-left: 11.8% !important;
        padding-right: 11.8% !important;
    }

    .body_container .body_area{
        margin: 3rem 11.5% 8rem 11.8%;
    }

}
@media screen and (min-width:2100px) {
    .container_single_publication_nav{
        padding-left: 12.6% !important;
        padding-right: 12.6% !important;
    }

    .body_container .body_area{
        margin: 3rem 12.1% 8rem 12.6%;
    }

}