

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color: #FFFFFF;
}

section{
    padding: 0 !important;
}

.container_contact_details_nav{
    background-color: #DDE3DD;
    margin-bottom: 7rem;
}
.container_contact_details_nav>div{
    margin-left:6%;
    font-size: 3.38vw;
    color: #306C63;
    font-weight: 900;
    font-family: "Acumin Pro Condensed";
    margin-top: 56px;
    margin-bottom: 4rem;
    line-height: 4rem;
}
.container_contact_details_nav>div>p{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}



.area1_contact_details_body_row1{
    font-family: "Acumin Pro Condensed";
    line-height: 3.38vw;
    font-size: 2.86vw;
    color: #306C63;
    margin-bottom: 2rem;
    font-weight: 600;
    margin-left:6%;
    margin-right: 6.5%;
    display: flex;
    justify-content: end;
}
.area1_contact_details_body_row1>div{
    width: 40%;
    text-align: left;
}
.area1_contact_details_body_row1>div>p{
    margin: 0px !important;
    padding:0px !important;
    
}

.contact_details_body_row1{
    margin-bottom: 5rem;
}

.area2_contact_details_body_row1{
    font-family: Acumin Pro;
    font-size: 1.25vw;
    line-height: 1.87vw;
    margin-left:6%;
    margin-right: 6.5%;
    display: flex;
    justify-content: end;
}
.area2_contact_details_body_row1>div{
    width: 40%;
    text-align: left;
    color: #122034;
}
.area2_contact_details_body_row1>div>p{
    margin: 0px !important;
    padding:0px !important;
}

.contact_details_body_row2{
    width: 100%;
    height: 100%;
    margin-bottom:-1rem;
    margin-top: -4rem;
}
.contact_details_body_row2>div>vedio{
    width: 100%;
    height: 100%;
}